[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-barcode
Exec=harbour-barcode
Name=CodeReader

[X-HarbourBackup]
BackupPathList=.local/share/harbour-barcode/
BackupConfigList=/apps/harbour-barcode/

[X-Sailjail]
Permissions=Accounts;Audio;Calendar;Camera;Contacts;Documents;Downloads;MediaIndexing;Pictures;PublicDir;RemovableMedia;UserDirs
